<body id="product">

    <section class="header">

        <nav>
            <img class="hamburger" src="/Icons/hamburgerBLACK.svg">
            <ul class="black_nav">
                <li><a href="/">Homepage</a></li>
                <li><a href="/catalogo">Catalogo</a></li>
                <li><a href="/">Contattami</a></li>
                <li><a href="/">Pagamenti</a></li>
                <% if (locals.authenticated) { %>
                    <li><a href="/admin/dashboard">Dashboard</a></li>
                    <% } %>


            </ul>
            <img class="closeMenu" src="/Icons/closeMenu.svg">
        </nav>

        <div class="product">
            <div class="images">
                <div class="image">
                    <img src="/OptimizedImages/<%=product.path%>">
                </div>
            </div>
            <div class="content">
                <% if (product.type==='Occidentale' ) { %>
                    <div class="center occidentale">
                        <h2>
                            <%= product.name %>
                        </h2>
                        <p>
                            <%= product.description %>
                        </p>
                        <div class="inliner">
                            <a class="button" href="#">Acquista</a>
                            <a href="#info_product">Maggiori informazioni</a>
                        </div>
                    </div>
                    <% } else { %>
                        <div class="center orientale">
                            <h2>
                                <%= product.name %>
                            </h2>
                            <p>
                                <%= product.description %>
                            </p>
                            <div class="inliner">
                                <a class="button" href="#">Acquista</a>
                                <a href="#info_product">Maggiori informazioni</a>
                            </div>
                        </div>
                        <% }%>
            </div>
        </div>

    </section>


    <section class="info_product" id="info_product">
        <div class="background">
            <h3>Maggiori Informazioni</h3>

            <div class="col-2">

                <ul class="col">
                    <li>
                        <p><span>Forma: </span>
                            <%= product.shape %>
                        </p>
                    </li>
                    <li>
                        <p><span>Luogo di Provenienza: </span>
                            <%= product.place %>
                        </p>
                    </li>
                    <li>
                        <p><span>Materiale utilizzato: </span>
                            <%= product.material %>
                        </p>
                    </li>
                </ul>
                <ul class="col">
                    <li>
                        <p><span>Prezzo: </span>
                            <%= product.price %> £
                        </p>
                    </li>
                    <li>
                        <p><span>Tipo: </span>
                            <%= product.type %>
                        </p>
                    </li>
                    <li>
                        <p><span>Id: </span>
                            <%= product._id %>
                        </p>
                    </li>
                </ul>

            </div>

            <p data-aos="fade-up" data-aos-delay="500" data-aos-duration="1000" class="paragraph">
                Contattami su Facebook per acquistare<br>
                questo Prodotto.
            </p>

        </div>
    </section>

    <script src="/clientSideScripts/navbarMenu.js"></script>

</body>